In [1]:
import pandas as pd
import pyodbc
from ydata_profiling import ProfileReport

### Adidas sales

In [2]:
adidas_original = pd.read_excel("C:/Users/Robin/Documents/School/Project/DATA/EXTERNAL_DATASETS/Adidas_US_Sales_Datasets.xlsx")
#adidas_profile = ProfileReport(adidas_original, title="Profiling Report")
# adidas_profile

In [3]:
adidas = adidas_original.copy()
adidas = adidas.drop(adidas.columns[0], axis=1)

In [4]:
adidas

,Retailer,Retailer ID,Invoice Date,Region,State,City,Product,Price per Unit,Units Sold,Total Sales,Operating Profit,Operating Margin,Sales Method
0,Foot Locker,1185732,2020-01-01,Northeast,New York,New York,Men's Street Footwear,50.0,1200,600000.0,300000.00,0.50,In-store
1,Foot Locker,1185732,2020-01-02,Northeast,New York,New York,Men's Athletic Footwear,50.0,1000,500000.0,150000.00,0.30,In-store
2,Foot Locker,1185732,2020-01-03,Northeast,New York,New York,Women's Street Footwear,40.0,1000,400000.0,140000.00,0.35,In-store
3,Foot Locker,1185732,2020-01-04,Northeast,New York,New York,Women's Athletic Footwear,45.0,850,382500.0,133875.00,0.35,In-store
4,Foot Locker,1185732,2020-01-05,Northeast,New York,New York,Men's Apparel,60.0,900,540000.0,162000.00,0.30,In-store
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9643,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Men's Apparel,50.0,64,3200.0,896.00,0.28,Outlet
9644,Foot Locker,1185732,2021-01-24,Northeast,New Hampshire,Manchester,Women's Apparel,41.0,105,4305.0,1377.60,0.32,Outlet
9645,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Street Footwear,41.0,184,7544.0,2791.28,0.37,Outlet
9646,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Men's Athletic Footwear,42.0,70,2940.0,1234.80,0.42,Outlet
9647,Foot Locker,1185732,2021-02-22,Northeast,New Hampshire,Manchester,Women's Street Footwear,29.0,83,2407.0,649.89,0.27,Outlet

### Nike shoes sales

In [5]:
nike_original = pd.read_csv("C:/Users/Robin/Documents/School/Project/DATA/EXTERNAL_DATASETS/Nike_shoes_sales.csv")
# nike_profile = ProfileReport(nike_original, title="Profiling Report")
# nike_profile

In [6]:
nike = nike_original.copy()
nike['listing_price'] = nike['listing_price'].div(100).round(2)
nike['sale_price'] = nike['sale_price'].div(100).round(2)
nike

,product_name,product_id,listing_price,sale_price,discount,brand,description,rating,reviews,images
0,Nike Air Force 1 '07 Essential,CJ1646-600,0.00,74.95,0,Nike,Let your shoe game shimmer in the Nike Air For...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
1,Nike Air Force 1 '07,CT4328-101,0.00,74.95,0,Nike,The legend lives on in the Nike Air Force 1 '0...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
2,Nike Air Force 1 Sage Low LX,CI3482-200,0.00,99.95,0,Nike,"Taking both height and craft to new levels, th...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
3,Nike Air Max Dia SE,CD0479-200,0.00,99.95,0,Nike,"Designed for a woman's foot, the Nike Air Max ...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
4,Nike Air Max Verona,CZ6156-101,0.00,99.95,0,Nike,Pass on the good vibes in the Nike Air Max Ver...,0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."
...,...,...,...,...,...,...,...,...,...,...
638,Air Jordan 8 Retro,CI1236-100,159.95,127.97,0,Nike,The Air Jordan 8 Retro recaptures the memorabl...,5.0,1,"[""https://static.nike.com/a/images/t_PDP_1728_..."
639,Nike Phantom Venom Club IC,AO0578-717,49.95,34.97,0,Nike,The Nike Phantom Venom Club IC is engineered f...,0.0,0,NaN
640,Nike Mercurial Superfly 7 Academy TF,AT7978-414,84.95,59.47,0,Nike,The soft upper of the Nike Mercurial Superfly ...,5.0,1,NaN
641,Nike Air Max 98,AH6799-300,0.00,169.95,0,Nike,The Nike Air Max 98 features the OG design lin...,4.0,4,"[""https://static.nike.com/a/images/t_PDP_1728_..."
642,Nike P-6000 SE,CJ9585-600,89.95,62.97,0,Nike,"A mash-up of Pegasus' past, the Nike P-6000 SE...",0.0,0,"[""https://static.nike.com/a/images/t_PDP_1728_..."

### Summer products

In [27]:
summer_p_original = pd.read_csv("C:/Users/Robin/Documents/School/Project/DATA/EXTERNAL_DATASETS/SUMMER_PRODUCTS_summer-products-with-rating-and-performance_2020-08.csv")
# summer_p_profile = ProfileReport(summer_p_original, title="Profiling Report")
# summer_p_profile

#### Null values in original

In [21]:
summer_p_original.isna().sum().sum()

3849

#### duplicate rows

In [23]:
summer_p_original.duplicated().sum()

34

In [20]:
summer_p = summer_p_original.copy()
summer_p['has_urgency_banner'] = summer_p['has_urgency_banner'].fillna(0)
summer_p['urgency_text'] = summer_p['urgency_text'].fillna('n.a.')
summer_p['merchant_profile_picture'] = summer_p['merchant_profile_picture'].fillna('n.a.')
summer_p[['rating_five_count' , 'rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count']] = summer_p[['rating_five_count' , 'rating_four_count', 'rating_three_count', 'rating_two_count', 'rating_one_count']].fillna(0)
summer_p[['product_color', 'product_variation_size_id', 'origin_country', 'merchant_name', 'merchant_info_subtitle']] = summer_p[['product_color', 'product_variation_size_id', 'origin_country', 'merchant_name', 'merchant_info_subtitle']].fillna('unknown')
summer_p = summer_p.drop_duplicates()

0

#### Null values after cleaning

In [22]:
summer_p.isna().sum().sum()

0

### Summer keywords

In [25]:
summer_k_original = pd.read_csv("C:/Users/Robin/Documents/School/Project/DATA/EXTERNAL_DATASETS/SUMMER_PRODUCTS_unique-categories.sorted-by-count.csv")
# summer_k_profile = ProfileReport(summer_k_original, title="Profiling Report")
# summer_k_profile

In [26]:
summer_k = summer_k_original.copy()