In [477]:
import pandas as pd
import pyodbc
import Utils

In [478]:
adventureWorksConnection = pyodbc.connect("Driver={SQL Server};"
                                          "Server=DESKTOP-8INVJ1O\SQLEXPRESS;"
                                          "Database=AdventureWorks;"
                                          "trusted_connection=yes")

In [479]:
salesSalesOrderHeader = pd.read_sql("SELECT * FROM sales.SalesOrderHeader", adventureWorksConnection)
salesSalesOrderDetail = pd.read_sql("SELECT * FROM sales.SalesOrderDetail", adventureWorksConnection)
salesSalesPerson = pd.read_sql("SELECT * FROM sales.SalesPerson", adventureWorksConnection)
salesCustomer = pd.read_sql("SELECT * FROM sales.Customer", adventureWorksConnection)
salesStore = pd.read_sql("SELECT * FROM sales.Store", adventureWorksConnection)
personPerson = pd.read_sql("SELECT * FROM person.Person", adventureWorksConnection)
personAddress = pd.read_sql("SELECT * FROM person.Address", adventureWorksConnection)
personStateProvince = pd.read_sql("SELECT * FROM person.StateProvince", adventureWorksConnection)
personCountryRegion = pd.read_sql("SELECT * FROM person.CountryRegion", adventureWorksConnection)
personBusinessEntity = pd.read_sql("SELECT * FROM person.BusinessEntity", adventureWorksConnection)
personBusinessEntityAddress = pd.read_sql("SELECT * FROM person.BusinessEntityAddress", adventureWorksConnection)
productionProduct = pd.read_sql("SELECT * FROM production.Product", adventureWorksConnection)
productionProductSubcategory = pd.read_sql("SELECT * FROM production.ProductSubcategory", adventureWorksConnection)
productionProductCategory = pd.read_sql("SELECT * FROM production.ProductCategory", adventureWorksConnection)

C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesSalesOrderHeader = pd.read_sql("SELECT * FROM sales.SalesOrderHeader", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesSalesOrderDetail = pd.read_sql("SELECT * FROM sales.SalesOrderDetail", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesSalesPerson = pd.read_sql("SELECT * FROM sales.SalesPerson", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesCustomer = pd.read_sql("SELECT * FROM sales.Customer", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  salesStore = pd.read_sql("SELECT * FROM sales.Store", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personPerson = pd.read_sql("SELECT * FROM person.Person", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personAddress = pd.read_sql("SELECT * FROM person.Address", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:8: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personStateProvince = pd.read_sql("SELECT * FROM person.StateProvince", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personCountryRegion = pd.read_sql("SELECT * FROM person.CountryRegion", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:10: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personBusinessEntity = pd.read_sql("SELECT * FROM person.BusinessEntity", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:11: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  personBusinessEntityAddress = pd.read_sql("SELECT * FROM person.BusinessEntityAddress", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:12: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productionProduct = pd.read_sql("SELECT * FROM production.Product", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:13: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productionProductSubcategory = pd.read_sql("SELECT * FROM production.ProductSubcategory", adventureWorksConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_7244\2862249871.py:14: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productionProductCategory = pd.read_sql("SELECT * FROM production.ProductCategory", adventureWorksConnection)

# Product
First change column names in category and subcategory so select in the final table can be done easier

In [480]:
selectColumns = ['ProductSubcategoryID', 'ProductCategoryID', 'Name']
productionProductSubcategoryData = productionProductSubcategory[selectColumns]
renameColumns = ['ProductSubcategoryID', 'ProductCategoryID', 'SubCategoryName']
productionProductSubcategoryData.columns = renameColumns

In [481]:
selectColumns = ['ProductCategoryID', 'Name']
productionProductCategoryData = productionProductCategory[selectColumns]
renameColumns = ['ProductCategoryID', 'CategoryName']
productionProductCategoryData.columns = renameColumns

Start joining and finishing final product frame

In [482]:
productionProduct

,ProductID,Name,ProductNumber,MakeFlag,FinishedGoodsFlag,Color,SafetyStockLevel,ReorderPoint,StandardCost,ListPrice,...,ProductLine,Class,Style,ProductSubcategoryID,ProductModelID,SellStartDate,SellEndDate,DiscontinuedDate,rowguid,ModifiedDate
0,1,Adjustable Race,AR-5381,False,False,None,1000,750,0.0000,0.00,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,694215B7-08F7-4C0D-ACB1-D734BA44C0C8,2014-02-08 10:01:36.827
1,2,Bearing Ball,BA-8327,False,False,None,1000,750,0.0000,0.00,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,58AE3C20-4F3A-4749-A7D4-D568806CC537,2014-02-08 10:01:36.827
2,3,BB Ball Bearing,BE-2349,True,False,None,800,600,0.0000,0.00,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,9C21AED2-5BFA-4F18-BCB8-F11638DC2E4E,2014-02-08 10:01:36.827
3,4,Headset Ball Bearings,BE-2908,False,False,None,800,600,0.0000,0.00,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,ECFED6CB-51FF-49B5-B06C-7D8AC834DB8B,2014-02-08 10:01:36.827
4,316,Blade,BL-2036,True,False,None,800,600,0.0000,0.00,...,None,None,None,NaN,NaN,2008-04-30,NaT,None,E73E9750-603B-4131-89F5-3DD15ED5FF80,2014-02-08 10:01:36.827
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,995,ML Bottom Bracket,BB-8107,True,True,None,500,375,44.9506,101.24,...,None,M,None,5.0,96.0,2013-05-30,NaT,None,71AB847F-D091-42D6-B735-7B0C2D82FC84,2014-02-08 10:01:36.827
500,996,HL Bottom Bracket,BB-9108,True,True,None,500,375,53.9416,121.49,...,None,H,None,5.0,97.0,2013-05-30,NaT,None,230C47C5-08B2-4CE3-B706-69C0BDD62965,2014-02-08 10:01:36.827
501,997,"Road-750 Black, 44",BK-R19B-44,True,True,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30,NaT,None,44CE4802-409F-43AB-9B27-CA53421805BE,2014-02-08 10:01:36.827
502,998,"Road-750 Black, 48",BK-R19B-48,True,True,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30,NaT,None,3DE9A212-1D49-40B6-B10A-F564D981DBDE,2014-02-08 10:01:36.827
503,999,"Road-750 Black, 52",BK-R19B-52,True,True,Black,100,75,343.6496,539.99,...,R,L,U,2.0,31.0,2013-05-30,NaT,None,AE638923-2B67-4679-B90E-ABBAB17DCA31,2014-02-08 10:01:36.827

In [483]:
productJoin = pd.merge(productionProduct, productionProductSubcategoryData, on='ProductSubcategoryID', how='outer')

In [484]:
productJoin = pd.merge(productJoin, productionProductCategoryData, on='ProductCategoryID', how='outer')

In [485]:
selectColumns = ['ProductID', 'Name', 'CategoryName', 'SubCategoryName', 'Color', 'StandardCost']
productData = productJoin[selectColumns]
renameColumns = ['PRODUCT_id', 'PRODUCT_name', 'PRODUCT_category', 'PRODUCT_sub_category', 'PRODUCT_colour',
                 'PRODUCT_prod_cost']
productData.columns = renameColumns
productData

,PRODUCT_id,PRODUCT_name,PRODUCT_category,PRODUCT_sub_category,PRODUCT_colour,PRODUCT_prod_cost
0,1,Adjustable Race,NaN,NaN,None,0.0000
1,2,Bearing Ball,NaN,NaN,None,0.0000
2,3,BB Ball Bearing,NaN,NaN,None,0.0000
3,4,Headset Ball Bearings,NaN,NaN,None,0.0000
4,316,Blade,NaN,NaN,None,0.0000
...,...,...,...,...,...,...
499,970,"Touring-2000 Blue, 46",Bikes,Touring Bikes,Blue,755.1508
500,971,"Touring-2000 Blue, 50",Bikes,Touring Bikes,Blue,755.1508
501,972,"Touring-2000 Blue, 54",Bikes,Touring Bikes,Blue,755.1508
502,978,"Touring-3000 Blue, 44",Bikes,Touring Bikes,Blue,461.4448
503,979,"Touring-3000 Blue, 50",Bikes,Touring Bikes,Blue,461.4448

# Customer

In [486]:
selectColumns = ['CustomerID', 'PersonID', 'StoreID']
salesCustomerData = salesCustomer[selectColumns]

In [487]:
selectColumns = ['BusinessEntityID']
personPersonData = personPerson[selectColumns]

In [488]:
selectColumns = ['AddressID', 'City', 'AddressLine1', 'StateProvinceID']
personAddressData = personAddress[selectColumns]

In [489]:
selectColumns = ['StateProvinceID', 'Name', 'CountryRegionCode']
personStateProvinceData = personStateProvince[selectColumns]
renameColumns = ['StateProvinceID', 'StateName', 'CountryRegionCode']
personStateProvinceData.columns = renameColumns

In [490]:
selectColumns = ['CountryRegionCode', 'Name']
personCountryRegionData = personCountryRegion[selectColumns]
renameColumns = ['CountryRegionCode', 'CountryName']
personCountryRegionData.columns = renameColumns

In [491]:
selectColumns = ['BusinessEntityID', 'Name']
salesStoreData = salesStore[selectColumns]
renameColumns = ['BusinessEntityID', 'CompanyName']
salesStoreData.columns = renameColumns

In [492]:
customerJoinStore = pd.merge(salesCustomerData, salesStoreData, left_on='StoreID', right_on='BusinessEntityID')
customerJoinStore = pd.merge(customerJoinStore, personBusinessEntity, on='BusinessEntityID')

In [493]:
customerJoinPerson = pd.merge(salesCustomerData, personPersonData, left_on='PersonID', right_on='BusinessEntityID')
customerJoinPerson = pd.merge(customerJoinPerson, personBusinessEntity, on='BusinessEntityID')

In [494]:
frames = [customerJoinPerson, customerJoinStore]
customerJoin = pd.concat(frames)
customerJoin

,CustomerID,PersonID,StoreID,BusinessEntityID,rowguid,ModifiedDate,CompanyName
0,11000,13531.0,NaN,13531,2BFAC0B9-6DC0-434A-974D-29CC1BD83091,2017-12-13 13:36:50.787,NaN
1,11001,5454.0,NaN,5454,E40B919C-55F7-4F37-8C36-BBE4A1968E6D,2017-12-13 13:25:38.207,NaN
2,11002,11269.0,NaN,11269,EC5955AA-3A17-47B8-8F07-83FBA03D0181,2017-12-13 13:33:40.583,NaN
3,11003,11358.0,NaN,11358,952992A4-8769-4AAF-9FB3-050584DE7EBF,2017-12-13 13:33:48.083,NaN
4,11004,11901.0,NaN,11901,24203C15-B3A6-45A6-93E1-73208BBC5B25,2017-12-13 13:34:32.037,NaN
...,...,...,...,...,...,...,...
1331,29729,841.0,842.0,842,06E75768-FF7C-4448-8B11-A2F96088352F,2017-12-13 13:21:19.490,Sensational Discount Store
1332,700,NaN,1030.0,1030,31935365-5167-4692-BBD0-6D8ED98DFF14,2017-12-13 13:21:25.303,Underglaze and Finish Company
1333,29817,1029.0,1030.0,1030,31935365-5167-4692-BBD0-6D8ED98DFF14,2017-12-13 13:21:25.303,Underglaze and Finish Company
1334,701,NaN,844.0,844,8E47C41A-E0E2-4A30-8388-88F8F523573E,2017-12-13 13:21:19.540,Future Bikes
1335,29730,843.0,844.0,844,8E47C41A-E0E2-4A30-8388-88F8F523573E,2017-12-13 13:21:19.540,Future Bikes

In [495]:
customerJoin = pd.merge(customerJoin, personBusinessEntity, on='BusinessEntityID')
customerJoin = pd.merge(customerJoin, personBusinessEntityAddress, on='BusinessEntityID')

In [496]:
customerJoin = pd.merge(customerJoin, personAddressData, on='AddressID')
customerJoin = pd.merge(customerJoin, personStateProvinceData, on='StateProvinceID')
customerJoin = pd.merge(customerJoin, personCountryRegionData, on='CountryRegionCode')

In [497]:
selectColumns = ['CustomerID', 'AddressLine1', 'City', 'StateName', 'CountryName', 'CompanyName']
customerData = customerJoin[selectColumns]

In [498]:
renameColumns = ['CUSTOMER_id', 'CUSTOMER_address', 'CUSTOMER_city', 'CUSTOMER_state', 'CUSTOMER_country', 'CUSTOMER_company_name']
customerData.columns = renameColumns
customerData

,CUSTOMER_id,CUSTOMER_address,CUSTOMER_city,CUSTOMER_state,CUSTOMER_country,CUSTOMER_company_name
0,11000,3761 N. 14th St,Rockhampton,Queensland,Australia,NaN
1,11005,7305 Humphrey Drive,East Brisbane,Queensland,Australia,NaN
2,11009,3839 Northgate Road,Hervey Bay,Queensland,Australia,NaN
3,11010,7800 Corrinne Court,East Brisbane,Queensland,Australia,NaN
4,11011,1224 Shoenic,East Brisbane,Queensland,Australia,NaN
...,...,...,...,...,...,...
19861,27126,"11, rue de l'Espace De Schengen",Saint Ouen,Somme,France,NaN
19862,27167,"2, place de Brazaville",Saint Ouen,Somme,France,NaN
19863,28758,"3139, chaussée de Tournai",Saint Ouen,Somme,France,NaN
19864,28888,"8011, rue de Cambrai",Saint Ouen,Somme,France,NaN
19865,409,"18, rue de l´Esplanade",Aujan Mournede,Gers,France,Outdoor Toy Store

# Employee

In [499]:
selectColumns = ['BusinessEntityID']
salesSalesPersonData = salesSalesPerson[selectColumns]

In [500]:
selectColumns = ['BusinessEntityID', 'FirstName', 'LastName']
personPersonData = personPerson[selectColumns]

In [501]:
selectColumns = ['AddressID', 'City', 'StateProvinceID']
personAddressData = personAddress[selectColumns]

In [502]:
selectColumns = ['StateProvinceID', 'Name', 'CountryRegionCode']
personStateProvinceData = personStateProvince[selectColumns]
renameColumns = ['StateProvinceID', 'StateName', 'CountryRegionCode']
personStateProvinceData.columns = renameColumns

In [503]:
selectColumns = ['CountryRegionCode', 'Name']
personCountryRegionData = personCountryRegion[selectColumns]
renameColumns = ['CountryRegionCode', 'CountryName']
personCountryRegionData.columns = renameColumns

In [504]:
employeeJoin = pd.merge(salesSalesPersonData, personPersonData, on='BusinessEntityID')
employeeJoin = pd.merge(employeeJoin, personBusinessEntity, on='BusinessEntityID')
employeeJoin = pd.merge(employeeJoin, personBusinessEntityAddress, on='BusinessEntityID')
employeeJoin = pd.merge(employeeJoin, personAddressData, on='AddressID')
employeeJoin = pd.merge(employeeJoin, personStateProvinceData, on='StateProvinceID')
employeeJoin = pd.merge(employeeJoin, personCountryRegionData, on='CountryRegionCode')

In [505]:
selectColumns = ['BusinessEntityID', 'FirstName', 'LastName', 'City', 'StateName', 'CountryName']
employeeData = employeeJoin[selectColumns]
renameColumns = ['EMPLOYEE_id', 'EMPLOYEE_first_name', 'EMPLOYEE_last_name', 'EMPLOYEE_city', 'EMPLOYEE_state',
                 'EMPLOYEE_country']
employeeData.columns = renameColumns
employeeData

,EMPLOYEE_id,EMPLOYEE_first_name,EMPLOYEE_last_name,EMPLOYEE_city,EMPLOYEE_state,EMPLOYEE_country
0,274,Stephen,Jiang,Redmond,Washington,United States
1,283,David,Campbell,Bellevue,Washington,United States
2,285,Syed,Abbas,Bothell,Washington,United States
3,287,Amy,Alberts,Renton,Washington,United States
4,275,Michael,Blythe,Detroit,Michigan,United States
5,276,Linda,Mitchell,Nevada,Utah,United States
6,277,Jillian,Carson,Duluth,Minnesota,United States
7,279,Tsvi,Reiter,Memphis,Tennessee,United States
8,280,Pamela,Ansman-Wolfe,Portland,Oregon,United States
9,281,Shu,Ito,San Francisco,California,United States
10,284,Tete,Mensa-Annan,Cambridge,Massachusetts,United States
11,278,Garrett,Vargas,Calgary,Alberta,Canada
12,282,José,Saraiva,Ottawa,Ontario,Canada
13,286,Lynn,Tsoflias,Melbourne,Victoria,Australia
14,288,Rachel,Valdez,Berlin,Hamburg,Germany
15,289,Jae,Pak,Cambridge,England,United Kingdom
16,290,Ranjit,Varkey Chudukatil,Bordeaux,Gironde,France

# Day

In [506]:
newFrames = Utils.splitFrames(salesSalesOrderHeader, 'OrderDate', [])
salesSalesOrderHeader = newFrames[0]
dateData = newFrames[1]

In [507]:
dateFormat = '%Y-%m-%d'
DAY_date = Utils.getDayDate(dateData, 'OrderDate', dateFormat)
DAY_date

       DAY_date DAY_MONTH_nr DAY_QUARTER_nr DAY_YEAR_nr
0    2011-05-31            5              2        2011
1    2011-06-01            6              2        2011
2    2011-06-02            6              2        2011
3    2011-06-03            6              2        2011
4    2011-06-04            6              2        2011
...         ...          ...            ...         ...
1119 2014-06-26            6              2        2014
1120 2014-06-27            6              2        2014
1121 2014-06-28            6              2        2014
1122 2014-06-29            6              2        2014
1123 2014-06-30            6              2        2014

[1124 rows x 4 columns]

# Order Details

In [508]:
orderDetailsJoin = pd.merge(salesSalesOrderDetail, salesSalesOrderHeader, on='SalesOrderID')

In [509]:
selectColumns = ['SalesOrderDetailID', 'OrderQty', 'UnitPrice', 'OrderDate','SalesPersonID', 'CustomerID' ,'ProductID']
orderDetailsData = orderDetailsJoin[selectColumns]

In [510]:
renameColumns = ['ORDER_DETAIL_NUMBER', 'ORDER_DETAIL_order_quantity', 'ORDER_DETAIL_unit_price', 'DAY_date', 'EMPLOYEE_id','CUSTOMER_id', 'PRODUCT_id']
orderDetailsData.columns = renameColumns