In [5]:
import pandas as pd
import pyodbc
import Utils

In [6]:
nortWindConnection = pyodbc.connect("Driver={SQL Server};"
                                "Server=DESKTOP-8INVJ1O\SQLEXPRESS;"
                                "Database=Northwind;"
                                "trusted_connection=yes")

In [7]:
products = pd.read_sql("SELECT * FROM products", nortWindConnection)
categories = pd.read_sql("SELECT * FROM categories", nortWindConnection)
customers = pd.read_sql("SELECT * FROM customers", nortWindConnection)
employees = pd.read_sql("SELECT * FROM employees", nortWindConnection)
orderDetails = pd.read_sql("SELECT * FROM [order details]", nortWindConnection)
orders = pd.read_sql("SELECT * FROM orders", nortWindConnection)

C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  products = pd.read_sql("SELECT * FROM products", nortWindConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  categories = pd.read_sql("SELECT * FROM categories", nortWindConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customers = pd.read_sql("SELECT * FROM customers", nortWindConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:4: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employees = pd.read_sql("SELECT * FROM employees", nortWindConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:5: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetails = pd.read_sql("SELECT * FROM [order details]", nortWindConnection)
C:\Users\Max\AppData\Local\Temp\ipykernel_30380\3887764839.py:6: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orders = pd.read_sql("SELECT * FROM orders", nortWindConnection)

# PRODUCT
can add a category on top as food/drinks etc?

In [ ]:
productData = pd.merge(products, categories, on='CategoryID')

In [8]:
productData = pd.merge(products, categories, on='CategoryID')
selectedColumns = ['ProductID', 'ProductName', 'CategoryName']
productData = productData[selectedColumns]

    PRODUCT_id                   PRODUCT_name PRODUCT_sub_category
0            1                           Chai            Beverages
1            2                          Chang            Beverages
2           24             Guaraná Fantástica            Beverages
3           34                  Sasquatch Ale            Beverages
4           35                 Steeleye Stout            Beverages
..         ...                            ...                  ...
72          42  Singaporean Hokkien Fried Mee       Grains/Cereals
73          52                       Filo Mix       Grains/Cereals
74          56         Gnocchi di nonna Alice       Grains/Cereals
75          57                 Ravioli Angelo       Grains/Cereals
76          64      Wimmers gute Semmelknödel       Grains/Cereals

[77 rows x 3 columns]

In [ ]:
newColumnNames = ['PRODUCT_id', 'PRODUCT_name', 'PRODUCT_sub_category']
productData.columns = newColumnNames
productData

# CUSTOMER

In [9]:
selectedColumns = ['CustomerID','Address','City','Country','CompanyName']
customerData = customers[selectedColumns]

,CUSTOMER_id,CUSTOMER_address,CUSTOMER_city,CUSTOMER_country,CUSTOMER_company_name
0,ALFKI,Obere Str. 57,Berlin,Germany,Alfreds Futterkiste
1,ANATR,Avda. de la Constitución 2222,México D.F.,Mexico,Ana Trujillo Emparedados y helados
2,ANTON,Mataderos 2312,México D.F.,Mexico,Antonio Moreno Taquería
3,AROUT,120 Hanover Sq.,London,UK,Around the Horn
4,BERGS,Berguvsvägen 8,Luleå,Sweden,Berglunds snabbköp
...,...,...,...,...,...
86,WARTH,Torikatu 38,Oulu,Finland,Wartian Herkku
87,WELLI,"Rua do Mercado, 12",Resende,Brazil,Wellington Importadora
88,WHITC,305 - 14th Ave. S. Suite 3B,Seattle,USA,White Clover Markets
89,WILMK,Keskuskatu 45,Helsinki,Finland,Wilman Kala
90,WOLZA,ul. Filtrowa 68,Warszawa,Poland,Wolski Zajazd

In [ ]:
newColumnNames = ['CUSTOMER_id','CUSTOMER_address','CUSTOMER_city','CUSTOMER_country','CUSTOMER_company_name']
customerData.columns = newColumnNames
customerData

# Employee

In [10]:
selectedColumns = ['EmployeeID','FirstName','City','Country']
employeeData = employees[selectedColumns]

   EMPLOYEE_id EMPLOYEE_first_name EMPLOYEE_city EMPLOYEE_country
0            1               Nancy       Seattle              USA
1            2              Andrew        Tacoma              USA
2            3               Janet      Kirkland              USA
3            4            Margaret       Redmond              USA
4            5              Steven        London               UK
5            6             Michael        London               UK
6            7              Robert        London               UK
7            8               Laura       Seattle              USA
8            9                Anne        London               UK

In [ ]:
newColumnNames = ['EMPLOYEE_id','EMPLOYEE_first_name','EMPLOYEE_city','EMPLOYEE_country']
employeeData.columns = newColumnNames
employeeData

# Date

In [ ]:
newColums = Utils.splitFrames(orders, 'OrderDate', [])
sales = newColums[0]
dateData = newColums[1]

In [ ]:
dateFormat = '%Y-%m-%d'
DAY_date = Utils.getDayDate(dateData, 'OrderDate', dateFormat)
DAY_date

# Order Details

In [ ]:
orderDetailsJoin = pd.merge(orderDetails, orders, on='OrderID')

In [ ]:
selectedColumns = ['Quantity', 'UnitPrice', 'OrderDate', 'EmployeeID', 'CustomerID', 'ProductID']
orderDetailsData = orderDetailsJoin[selectedColumns]

In [ ]:
newColumnNames = ['ORDER_DETAIL_quantity', 'ORDER_DETAIL_unit_price', 'DAY_date', 'EMPLOYEE_id', 'KLANT_id', 'PRODUCT_id']
orderDetailsData.columns = newColumnNames