In [1]:
import pandas as pd
import pyodbc
import Utils

In [2]:
salesConnection = pyodbc.connect("Driver={SQL Server};"
                                "Server=DESKTOP-8INVJ1O\SQLEXPRESS;"
                                "Database=Sales_db;"
                                "trusted_connection=yes")

In [3]:
# Try to separate the large ass table?
sales = pd.read_sql("SELECT * FROM Sales", salesConnection)

C:\Users\Max\AppData\Local\Temp\ipykernel_5160\3051299410.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales = pd.read_sql("SELECT * FROM Sales", salesConnection)

In [4]:
# add id

# Product

In [5]:
sales = Utils.addIds(sales, 'Product', 'prod_id')

In [6]:
columns = ['Product_Category', 'Sub_Category', 'Unit_Cost']
newFrames = Utils.splitFrames(sales, 'Product', 'prod_id', columns)

sales = newFrames[0]
product = newFrames[1]
product

,Product_Category,Sub_Category,Unit_Cost,prod_id,Product
0,Accessories,Bike Racks,45.0,0.0,Hitch Rack - 4-Bike
596,Accessories,Bike Stands,59.0,1.0,All-Purpose Bike Stand
1048,Accessories,Bottles and Cages,4.0,2.0,Mountain Bottle Cage
1056,Accessories,Bottles and Cages,2.0,3.0,Water Bottle - 30 oz.
1074,Accessories,Bottles and Cages,3.0,4.0,Road Bottle Cage
...,...,...,...,...,...
108780,Bikes,Touring Bikes,755.0,125.0,"Touring-2000 Blue, 50"
108864,Bikes,Touring Bikes,755.0,126.0,"Touring-2000 Blue, 60"
112074,Clothing,Vests,24.0,127.0,"Classic Vest, L"
112080,Clothing,Vests,24.0,128.0,"Classic Vest, M"
112090,Clothing,Vests,24.0,129.0,"Classic Vest, S"

In [7]:
sales

,Date,Day,Month,Year,Customer_Age,Age_Group,Customer_Gender,Country,State,Order_Quantity,Unit_Price,Profit,Cost,Revenue,prod_id
0,2013-11-26,26,November,2013,19,Youth (<25),M,Canada,British Columbia,8,120.0,590.0,360.0,950.0,0.0
1,2015-11-26,26,November,2015,19,Youth (<25),M,Canada,British Columbia,8,120.0,590.0,360.0,950.0,0.0
2,2014-03-23,23,March,2014,49,Adults (35-64),M,Australia,New South Wales,23,120.0,1366.0,1035.0,2401.0,0.0
3,2016-03-23,23,March,2016,49,Adults (35-64),M,Australia,New South Wales,20,120.0,1188.0,900.0,2088.0,0.0
4,2014-05-15,15,May,2014,47,Adults (35-64),F,Australia,New South Wales,4,120.0,238.0,180.0,418.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
113031,2016-04-12,12,April,2016,41,Adults (35-64),M,United Kingdom,England,3,64.0,112.0,72.0,184.0,129.0
113032,2014-04-02,2,April,2014,18,Youth (<25),M,Australia,Queensland,22,64.0,655.0,528.0,1183.0,128.0
113033,2016-04-02,2,April,2016,18,Youth (<25),M,Australia,Queensland,22,64.0,655.0,528.0,1183.0,128.0
113034,2014-03-04,4,March,2014,37,Adults (35-64),F,France,Seine (Paris),24,64.0,684.0,576.0,1260.0,127.0
113035,2016-03-04,4,March,2016,37,Adults (35-64),F,France,Seine (Paris),23,64.0,655.0,552.0,1207.0,127.0

In [8]:
selectedColumn = ['Order_Quantity', 'Product_Category', 'Sub_Category', 'Unit_Cost']
product = sales[selectedColumn]
newColumnNames = ['PRODUCT_name', 'PRODUCT_category', 'PRODUCT_sub_category', 'PRODUCT_prod_cost']
product.columns = newColumnNames

KeyError: "['Product_Category', 'Sub_Category', 'Unit_Cost'] not in index"

# Customer

In [ ]:
selectedColumn = ['Country', 'State']
customer = sales[selectedColumn]
newColumnNames = ['CUSTOMER_country', 'CUSTOMER_state']
customer.columns = newColumnNames

# Day

In [ ]:
dateFormat = '%Y-%m-%d'
DAY_date = Utils.getDayDate(sales, 'Date', dateFormat)
DAY_date

# Order Detail

In [ ]:
selectedColumn = []

newColumnNames = []