In [39]:
import pandas as pd
import pyodbc
import Utils

In [40]:
salesConnection = pyodbc.connect("Driver={SQL Server};"
                                "Server=DESKTOP-8INVJ1O\SQLEXPRESS;"
                                "Database=Sales_db;"
                                "trusted_connection=yes")

In [41]:
sales = pd.read_sql("SELECT * FROM Sales", salesConnection)

C:\Users\Max\AppData\Local\Temp\ipykernel_15800\1864275861.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  sales = pd.read_sql("SELECT * FROM Sales", salesConnection)

# Product

In [42]:
sales = Utils.addGuidsUnique(sales, 'Product', 'prod_id')

In [43]:
columns = ['Product', 'Product_Category', 'Sub_Category', 'Unit_Cost']
newFrames = Utils.splitFrames(sales, 'prod_id', columns)
sales = newFrames[0]
product = newFrames[1]

In [44]:
newColumnNames = ['PRODUCT_category', 'PRODUCT_sub_category','PRODUCT_prod_cost' ,'PRODUCT_id', 'PRODUCT_name']
product.columns = newColumnNames
product

,PRODUCT_category,PRODUCT_sub_category,PRODUCT_prod_cost,PRODUCT_id,PRODUCT_name
0,Hitch Rack - 4-Bike,Accessories,Bike Racks,45.0,0.0
596,All-Purpose Bike Stand,Accessories,Bike Stands,59.0,1.0
1048,Mountain Bottle Cage,Accessories,Bottles and Cages,4.0,2.0
1056,Water Bottle - 30 oz.,Accessories,Bottles and Cages,2.0,3.0
1074,Road Bottle Cage,Accessories,Bottles and Cages,3.0,4.0
...,...,...,...,...,...
108780,"Touring-2000 Blue, 50",Bikes,Touring Bikes,755.0,125.0
108864,"Touring-2000 Blue, 60",Bikes,Touring Bikes,755.0,126.0
112074,"Classic Vest, L",Clothing,Vests,24.0,127.0
112080,"Classic Vest, M",Clothing,Vests,24.0,128.0
112090,"Classic Vest, S",Clothing,Vests,24.0,129.0

# Customer

In [45]:
sales = Utils.addGuids(sales, 'CUSTOMER_id')

In [46]:
newFrames = Utils.splitFrames(sales, 'CUSTOMER_id', ['Country', 'State'])
sales = newFrames[0]
customerData = newFrames[1]

In [47]:
selectedColumn = ['CUSTOMER_id', 'Country', 'State']
customerData = customerData[selectedColumn]
newColumnNames = ['CUSTOMER_id','CUSTOMER_country', 'CUSTOMER_state']
customerData.columns = newColumnNames

# Day

In [48]:
newFrames = Utils.splitFrames(sales, 'Date', [])
sales = newFrames[0]
dateData = newFrames[1]

In [49]:
dateFormat = '%Y-%m-%d'
DAY_date = Utils.getDayDate(dateData, 'Date', dateFormat)
DAY_date

       DAY_date DAY_MONTH_nr DAY_QUARTER_nr DAY_YEAR_nr
0    2013-11-26           11              4        2013
1    2015-11-26           11              4        2015
2    2014-03-23            3              1        2014
3    2016-03-23            3              1        2016
4    2014-05-15            5              2        2014
...         ...          ...            ...         ...
1879 2011-10-27           10              4        2011
1880 2013-01-06            1              1        2013
1881 2015-01-06            1              1        2015
1882 2012-02-20            2              1        2012
1883 2011-02-20            2              1        2011

[1884 rows x 4 columns]

# Order Detail

In [50]:
selectedColumn = ['Order_Quantity','Unit_Price', 'Date', 'CUSTOMER_id' ,'prod_id']
salesOrderDetail = sales[selectedColumn]
salesOrderDetail

KeyError: "['DAY_date'] not in index"

In [ ]:
newColumnNames = ['ORDER_DETAIL_quantity', 'ORDER_DETAIL_unit_price', 'DAY_date', 'CUSTOMER_id' ,'PRODUCT_id']
salesOrderDetail.columns = newColumnNames
salesOrderDetail