In [16]:
from DataService import BrightSpaceData as data
import pandas as pd

In [17]:
datasets = data()

adventureWorksStar = datasets.getAdventureWorksData()
northwindStar = datasets.getNorthwindData()

C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AdventureWorksRepository.py:19: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productData = pd.read_sql(productJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AdventureWorksRepository.py:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customerData = pd.read_sql(customerJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AdventureWorksRepository.py:59: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employeeData = pd.read_sql(employeeJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AdventureWorksRepository.py:73: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDates = pd.read_sql("SELECT DISTINCT OrderDate FROM sales.SalesOrderHeader", self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AdventureWorksRepository.py:87: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetailsData = pd.read_sql(orderDetailsQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\NorthwindRepository.py:18: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productData = pd.read_sql(productJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\NorthwindRepository.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customerData = pd.read_sql(customerJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\NorthwindRepository.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employeeData = pd.read_sql(employeeJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\NorthwindRepository.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDates = pd.read_sql("SELECT DISTINCT OrderDate FROM orders", self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\NorthwindRepository.py:68: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetailsData = pd.read_sql(orderDetailsQuery, self.dbConnection)

In [18]:
def mergeFrame(starFrame, frameTwo):
    resultFrame = starFrame.copy()

    for table in frameTwo:
        resultFrame[table] = pd.concat([resultFrame[table], frameTwo[table]])

    return resultFrame

In [19]:
newData = mergeFrame(adventureWorksStar, northwindStar)

In [20]:
newData['product_df']

,PRODUCT_id,PRODUCT_name,PRODUCT_category,PRODUCT_sub_category,PRODUCT_colour,PRODUCT_prod_cost,PRODUCT_storage_quantity
0,707,"Sport-100 Helmet, Red",Accessories,Helmets,Red,13.0863,288.0
1,708,"Sport-100 Helmet, Black",Accessories,Helmets,Black,13.0863,324.0
2,709,"Mountain Bike Socks, M",Clothing,Socks,White,3.3963,180.0
3,710,"Mountain Bike Socks, L",Clothing,Socks,White,3.3963,216.0
4,711,"Sport-100 Helmet, Blue",Accessories,Helmets,Blue,13.0863,216.0
...,...,...,...,...,...,...,...
72,73,Röd Kaviar,NaN,Seafood,NaN,NaN,NaN
73,74,Longlife Tofu,NaN,Produce,NaN,NaN,NaN
74,75,Rhönbräu Klosterbier,NaN,Beverages,NaN,NaN,NaN
75,76,Lakkalikööri,NaN,Beverages,NaN,NaN,NaN
76,77,Original Frankfurter grüne Soße,NaN,Condiments,NaN,NaN,NaN

In [21]:
aencStar = datasets.getAENCData()
newData = mergeFrame(newData, aencStar)

C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AENCRepository.py:16: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  productData = pd.read_sql(productJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AENCRepository.py:31: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  customerData = pd.read_sql(customerJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AENCRepository.py:45: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  employeeData = pd.read_sql(employeeJoinQuery, self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AENCRepository.py:53: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDates = pd.read_sql("SELECT DISTINCT order_date FROM sales_order", self.dbConnection)
C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\AENCRepository.py:68: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  orderDetailsData = pd.read_sql(orderDetailsQuery, self.dbConnection)

In [22]:
newData['product_df']

,PRODUCT_id,PRODUCT_name,PRODUCT_category,PRODUCT_sub_category,PRODUCT_colour,PRODUCT_prod_cost,PRODUCT_storage_quantity
0,707,"Sport-100 Helmet, Red",Accessories,Helmets,Red,13.0863,288.0
1,708,"Sport-100 Helmet, Black",Accessories,Helmets,Black,13.0863,324.0
2,709,"Mountain Bike Socks, M",Clothing,Socks,White,3.3963,180.0
3,710,"Mountain Bike Socks, L",Clothing,Socks,White,3.3963,216.0
4,711,"Sport-100 Helmet, Blue",Accessories,Helmets,Blue,13.0863,216.0
...,...,...,...,...,...,...,...
5,500,Cloth Visor,Accessories,Visor,White,NaN,36
6,501,Plastic Visor,Accessories,Visor,Black,NaN,28
7,600,Hooded Sweatshirt,Clothes,Sweatshirt,Green,NaN,39
8,601,Zipped Sweatshirt,Clothes,Sweatshirt,Blue,NaN,32
9,700,Cotton Shorts,Clothes,Shorts,Black,NaN,80

In [23]:
salesStar = datasets.getSalesData()
newData = mergeFrame(newData, salesStar)

C:\Users\Max\Documents\GitHub\Scripts\DataHandling\Merging\Repositories\SalesRepository.py:9: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  self.salesDataFrame = pd.read_sql("SELECT * FROM Sales", dbConnection)

In [24]:
newData['product_df']

,PRODUCT_id,PRODUCT_name,PRODUCT_category,PRODUCT_sub_category,PRODUCT_colour,PRODUCT_prod_cost,PRODUCT_storage_quantity
0,707,"Sport-100 Helmet, Red",Accessories,Helmets,Red,13.0863,288.0
1,708,"Sport-100 Helmet, Black",Accessories,Helmets,Black,13.0863,324.0
2,709,"Mountain Bike Socks, M",Clothing,Socks,White,3.3963,180.0
3,710,"Mountain Bike Socks, L",Clothing,Socks,White,3.3963,216.0
4,711,"Sport-100 Helmet, Blue",Accessories,Helmets,Blue,13.0863,216.0
...,...,...,...,...,...,...,...
108780,125.0,"Touring-2000 Blue, 50",Bikes,Touring Bikes,NaN,755.0000,NaN
108864,126.0,"Touring-2000 Blue, 60",Bikes,Touring Bikes,NaN,755.0000,NaN
112074,127.0,"Classic Vest, L",Clothing,Vests,NaN,24.0000,NaN
112080,128.0,"Classic Vest, M",Clothing,Vests,NaN,24.0000,NaN
112090,129.0,"Classic Vest, S",Clothing,Vests,NaN,24.0000,NaN